*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container__hero{
    position: relative;
}

.sect__carousal{
    position: absolute;
    width: 100%;
    z-index: -3;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.navbar-brand{
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.brand__logo{
    width: 25px;
}

.logo__zippy{
    width: 100%;
}

.navbar-nav{
    font-size: 15px;
} 

.hero__title{
    color: white;
}

.hero__description{
    color: rgba(255, 255, 255, 0.781);
}

.btn__info__home{
    background-color: yellow;
    color: black;
}

.btn__info__home:hover{
    background-color: purple;
    color:white;
}

.btn__project{
    background-color: purple;
    color: white;
}

.btn__project:hover{
    background-color: yellow;
    color: black;
}

.vdo__slider__container{
    padding-left: 10%;
    padding-right: 5%;
}

.team__member__img{
    width: 50%;
}
.member__img{
    width: 100%;
    border-radius: 50%;
    display: block;
}

.team__member__img{
  position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: yellow;
    border-radius: 50%;
}

.team__member__img:hover  {
    opacity: 50%;
}
.overlay:hover {
    opacity: 60%;
    cursor: pointer;
}

.overlay__img {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.zippy__lyf__container{
    position: relative;
}

  #myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .content__container{
    position: absolute;
  top: 0;
  color: black;
  width: 100%;
  padding: 20px;
  }

  .slider-nav, .slider-for{
      text-align: center;
  }

  .input-group-text{
    background-color: purple; 
    color: white;
  }

  .input-group-text:hover {
      background-color: yellow;
      color: black;
      cursor: pointer;
  }

  .footer__desc{
      font-size: 10px;
  }

  .media__icons:hover{
    background-color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
    border-radius: 10px;
    padding: 1px;
  }

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .carousel-item{
        width: 100%;
        height: 100vh;
    }

    .navbar-brand{
        font-family: 'Indie Flower', cursive;
        font-size: 40px;
    }
    
    .brand__logo{
        width: 35px;
    }
    
    .logo__zippy{
        width: 100%;
    }
    
    .navbar-nav{
        font-size: 20px;
    }    
    
    .nav-link:hover{
        font-size: 21px;
        text-shadow: 3px 3px 12px rgba(150, 150, 150, 1);
        color: yellow;
    }

    .hero__title{
        color: black;
        font-size: 80px;
        margin-top: 110px;
    }
    
    .hero__description{
        color: rgba(255, 255, 255, 0.904);
        font-size: 23px;
        margin-top: 10px;
    }

    .hero__button{
        margin-bottom: 250px;
    }

    .home__description, .home__img{
        width: 50%;
    }

    .umbrella__img{
        width: 50%;
    }

    .vertical {
        border-left: 2px solid rgba(0, 0, 0, 0.308);
        height: 300px;
        left: 50%;
    }

    .vdo__slider__container{
        padding-left: 10%;
        padding-right: 10%;
    }

    .team__member__img{
        width: 250px;
    }

}